html {
    font-family: sans-serif;
}

body {
    /* margin: 0 auto; */
    /* width: 100%; */
    max-width: 1170px;
    padding: 2rem;
    /* line-height: 1.8; */
    font-size: 15px
}

h2 {
    font-weight:normal;
    font-size: 15px;
    margin: 0;
    margin-bottom: 8px;
}

p {
    font-size: 15px;;
    margin: 0;
    margin-bottom: 18px;
}

a {
    color: inherit;
    cursor: alias;
}